.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.heroCardLink {
  text-decoration: none;
  color: inherit;
}
